html {
  font-size: 62.5%;
  background-color: #fff; }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }

body {
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  font-size: 6rem;
  margin-top: 0; }
  @media (max-width: 56.25em) {
    .heading-primary {
      font-size: 4rem; } }

.heading-secondary {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 5rem; }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 500;
  color: #339933;
  padding-top: 5rem;
  margin-bottom: 5rem; }

.heading-forth {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3rem; }

.tournaments {
  font-size: 2.4rem;
  padding: 5rem 0; }
  .tournaments__wrap {
    margin-bottom: 5rem; }
  .tournaments .tabs a {
    color: rgba(0, 0, 0, 0.7);
    text-transform: none;
    font-size: 1.8rem;
    transition: 0.2s; }
    .tournaments .tabs a span {
      display: block;
      min-width: 50px;
      padding: 1rem 1.5rem;
      line-height: 1;
      border-radius: 25px;
      border: 1px solid rgba(0, 0, 0, 0.7); }
    .tournaments .tabs a:hover, .tournaments .tabs a.active {
      color: #339933; }
      .tournaments .tabs a:hover span, .tournaments .tabs a.active span {
        border: 1px solid #339933; }
    .tournaments .tabs a:focus {
      background-color: transparent !important; }
  .tournaments__collection {
    margin-bottom: 0;
    border-radius: 25px; }
    .tournaments__collection--top {
      border-bottom-right-radius: 0;
      border-bottom: none; }
      .tournaments__collection--top .collection-header {
        border-bottom: none !important; }
    .tournaments__collection--bottom {
      border-top-left-radius: 0; }
    .tournaments__collection-wrap {
      display: flex;
      align-items: stretch;
      margin-bottom: 0; }
      .tournaments__collection-wrap .m6 {
        padding: 0; }
      .tournaments__collection-wrap:last-child {
        margin-top: -6.5rem; }
    .tournaments__collection .avatar {
      padding: 1.5rem 2rem !important;
      min-height: 1rem !important;
      height: auto; }
    .tournaments__collection span {
      display: inline-block;
      padding: 1.5rem; }
  .tournaments__icon {
    border: 1px solid #339933;
    border-radius: 50%;
    color: #339933; }
  .tournaments__desc:last-child {
    padding-left: 3rem; }
  .tournaments .collection-header {
    background-color: #339933 !important;
    color: #fff; }
    .tournaments .collection-header span {
      padding: 0 !important; }
  .tournaments .indicator {
    display: none; }

.btn__custom {
  display: block;
  text-transform: none;
  background-color: transparent;
  color: #339933;
  border: 2px solid #339933;
  border-radius: 35px;
  font-size: 3rem;
  padding: 1.5rem 0;
  height: auto;
  transition: 0.3s; }
  .btn__custom:hover, .btn__custom:focus, .btn__custom:active {
    background-color: transparent !important;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.5); }
  .btn__custom--green {
    background-color: #339933;
    color: #fff;
    padding: 1.5rem 2rem;
    margin-bottom: 5rem; }
    .btn__custom--green:hover, .btn__custom--green:focus, .btn__custom--green:active {
      background-color: #267326 !important;
      box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.5); }

.about {
  height: 100vh;
  background-image: url(../img/bg__secondary.png);
  background-size: cover;
  background-position: top center;
  font-size: 2.4rem;
  color: #fff; }
  @media (max-width: 56.25em) {
    .about {
      height: max-content; } }
  .about .container {
    height: 100%; }

.modal-form {
  font-size: 2.4rem;
  padding: 2.5rem;
  background-color: #fff; }
  .modal-form .select-wrapper .caret {
    fill: #339933; }
  .modal-form .dropdown-content li > span,
  .modal-form legend,
  .modal-form input:not([type]):focus:not([readonly]) + label,
  .modal-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
+ label,
  .modal-form input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
  .modal-form textarea.materialize-textarea:focus:not([readonly]) + label,
  .modal-form .colored {
    color: #339933; }
  .modal-form .select-wrapper input.select-dropdown:focus,
  .modal-form input:not([type]):focus:not([readonly]),
  .modal-form input[type="text"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="password"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="email"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="url"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="time"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="date"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="number"]:not(.browser-default):focus:not([readonly]),
  .modal-form input[type="search"]:not(.browser-default):focus:not([readonly]),
  .modal-form textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #339933;
    box-shadow: 0 1px 0 0 #339933; }
  .modal-form [type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #339933;
    border-bottom: 2px solid #339933; }
  .modal-form fieldset {
    border: none;
    padding: 0; }
    .modal-form fieldset legend {
      margin-bottom: 2rem; }
    .modal-form fieldset p {
      margin: 0; }
  .modal-form label,
  .modal-form [type="checkbox"] + span:not(.lever) {
    font-size: 1.6rem; }

.modal {
  max-height: 80vh;
  overflow: hidden;
  background-color: transparent;
  width: 70%;
  box-shadow: none; }
  .modal .modal-content {
    width: 85%;
    margin: 0 auto;
    padding: 0;
    height: 89vh;
    overflow: scroll;
    background-color: transparent; }
    .modal .modal-content::-webkit-scrollbar {
      width: 6px;
      background-color: #339933; }
    .modal .modal-content::-webkit-scrollbar-thumb {
      background-color: #fff;
      border: 1px solid #339933; }
  .modal__tabs-wrap .tabs {
    background-color: transparent; }
  .modal__tabs-wrap .tabs {
    border: 1px solid #339933; }
    .modal__tabs-wrap .tabs a {
      color: #fff;
      font-size: 2.3rem; }
      .modal__tabs-wrap .tabs a:hover {
        color: #fff;
        background-color: rgba(51, 153, 51, 0.2); }
    .modal__tabs-wrap .tabs a.active {
      color: #fff !important;
      background-color: #339933 !important; }
  .modal__tabs-wrap .indicator {
    display: none; }
  .modal__tabs-wrap,
  .modal .s12.active {
    padding: 0 !important; }
  .modal .s12.active {
    background-color: #fff; }
  .modal .modal-close {
    position: absolute;
    right: 2rem;
    z-index: 1005; }

.main-header {
  height: 100vh;
  background-image: url(../img/bg_header.png);
  background-size: cover;
  background-position: top center;
  margin-top: -8rem;
  padding-top: 8rem;
  font-size: 2.4rem;
  color: #fff; }
  @media (max-width: 56.25em) {
    .main-header {
      height: max-content; } }
  .main-header__wrap {
    height: 100%; }

.navigation {
  height: 8rem; }
  .navigation__nav {
    background-color: transparent;
    height: 8rem;
    box-shadow: none;
    transition: 0.3s; }
  .navigation__link {
    font-size: 2.1rem;
    height: 8rem; }
    .navigation__link:hover {
      background-color: rgba(0, 0, 0, 0.4); }

.main-footer {
  color: #000;
  font-size: 2.1rem;
  font-weight: 500;
  padding-top: 3rem; }
  .main-footer .row {
    display: flex; }
    @media (max-width: 75em) {
      .main-footer .row {
        display: block; } }
  @media (max-width: 75em) {
    .main-footer__address {
      width: 100%;
      text-align: center; } }
  .main-footer__address address {
    font-style: normal; }
  .main-footer__contacts {
    width: 100%; }
    @media (max-width: 75em) {
      .main-footer__contacts {
        text-align: center; } }
    .main-footer__contacts .row {
      margin-bottom: 0; }
    .main-footer__contacts a {
      color: #000;
      transition: 0.3s; }
      .main-footer__contacts a:hover {
        opacity: 0.9; }
  .main-footer__socials .row {
    margin-bottom: 0; }
  .main-footer__socials img {
    width: 5rem;
    text-align: center; }
  .main-footer__socials a {
    transition: 0.3s; }
    .main-footer__socials a:hover, .main-footer__socials a:active, .main-footer__socials a:focus {
      opacity: 0.9; }
  .main-footer .main-footer__copyright {
    color: #000; }
    .main-footer .main-footer__copyright a {
      color: #000;
      transition: 0.3s; }
      .main-footer .main-footer__copyright a:hover, .main-footer .main-footer__copyright a:active, .main-footer .main-footer__copyright a:focus {
        opacity: 0.9; }
