.main-header {
  height: 100vh;
  background-image: url(../img/bg_header.png);
  background-size: cover;
  margin-top: -8rem;
  padding-top: 8rem;
  font-size: 2.4rem;
  color: $color__white;

  &__wrap {
    height: 100%;
  }
}
