.navigation {
  height: 8rem;

  &__nav {
    background-color: transparent;
    height: 8rem;
    box-shadow: none;
    transition: 0.3s;
  }

  &__link {
    font-size: 2.4rem;

    &:hover {
      background-color: rgba($color__black, 0.4);
    }
  }
}
