.about {
  height: 100vh;
  background: {
    image: url(../img/bg__secondary.png);
    size: cover;
    position: top center;
  }
  font-size: 2.4rem;
  color: $color__white;

  @include respond(tab-port) {
    height: max-content; //9px
  }

  .container {
    height: 100%;
  }
}
