.tournaments {
  font-size: 2.4rem;
  padding: 5rem 0;

  &__wrap {
    margin-bottom: 5rem;
  }

  .tabs {
    a {
      color: rgba($color__black, 0.7);
      text-transform: none;
      font-size: 1.8rem;
      transition: 0.2s;

      span {
        display: block;
        min-width: 50px;
        padding: 1rem 1.5rem;
        line-height: 1;
        border-radius: 25px;
        border: 1px solid rgba($color__black, 0.7);
      }

      &:hover,
      &.active {
        color: $color__primary;

        span {
          border: 1px solid $color__primary;
        }
      }

      &:focus {
        background-color: transparent !important;
      }
    }
  }

  &__collection {
    margin-bottom: 0;
    border-radius: 25px;

    &--top {
      border-bottom-right-radius: 0;
      border-bottom: none;

      @include respond(tab-port) {
        border-bottom-right-radius: 25px;
      }

      .collection-header {
        border-bottom: none !important;
      }
    }

    &--bottom {
      border-top-left-radius: 0;

      @include respond(tab-port) {
        border-top-left-radius: 25px;
      }
    }

    &-wrap {
      display: flex;
      align-items: stretch;
      margin-bottom: 0;

      @include respond(tab-port) {
        display: block;
      }

      .m6 {
        padding: 0;
      }

      &:last-child {
        margin-top: -6.5rem;
      }
    }

    .avatar {
      padding: 1.5rem 2rem !important;
      min-height: 1rem !important;
      height: auto;
    }

    span {
      display: inline-block;
      padding: 1.5rem;
    }
  }

  &__icon {
    border: 1px solid $color__primary;
    border-radius: 50%;
    color: $color__primary;
  }

  &__desc {
    &:last-child {
      padding-left: 3rem;
    }
  }

  .collection-header {
    background-color: $color__primary !important;
    color: $color__white;

    span {
      padding: 0 !important;
    }
  }

  .indicator {
    display: none;
  }
}
